<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q42PVMBV81"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Q42PVMBV81');
  </script>

  <!-- google -->
  <meta name="google-site-verification" content="6a6z0oh4a1W6wMPAcueVK_9ZcFfKTt7nAPFXPatbJ7M" />


  <meta charset="utf-8">

  <!-- SEO -->
  {% if post.page_title %}
    <title>{{ post.page_title }}</title>
  {% else %}
    <title>Frozen black currants bulk</title>
  {% endif %}

  {% if post.description %}
    <meta name="description" content="{{ post.description }}">
  {% else %}
    <meta name="description" content="Black currant wholesale, where black currant sales market, black currant to buy bulk, which currant, here to buy black currant for fruit industry, price">
  {% endif %}
  <meta name="author" content="rbty">

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  <!--  {% load static %}-->
  <!--  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">-->
  <!--  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">-->

  {% block headcontent %}
  <!-- Extended head content Goes here -->
  {% endblock headcontent %}

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blog-home' %}">Solbær</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blog-home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blog-pricing' %}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'blog-about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'form-contact' %}">Contact</a>
        </li>
      </ul>

      <form class="d-flex" action="{% url 'blog-search' %}">
        <input class="form-control me-sm-2" name="q" type="text" placeholder="Search in posts">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Find</button>
      </form>

    </div>
  </div>
</nav>


<!--  <div class="my-1">-->

<!--    <a class="link" href="/">{{ post.title }}</a>-->
<!--</div>-->


<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
    background-color: #7cb359;
}
</style>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

          {% block content %}
          <!-- Content Goes here -->
          {% endblock content %}
        </div>

        <div class="col-md-4 float-right ">
          <div class="card my-4 position-fixed">
            <div class="content-section">
              <h4 class="card-header">Additional information</h4>
              <div class="card-body">
                <p class='text-muted'>
                  <ul class="list-group">

                    <li type="button" class="btn btn-primary btn-lg disabled">Announcements</li>
                    <li type="button" class="btn btn-primary btn-lg" onclick="location.href={% url 'side-calendar' %}"
                        style="text-align:middle;">Harvest calendar</li>
                    <li type="button" class="btn btn-primary btn-lg disabled">Delivery terms</li>
                    <li type="button" class="btn btn-primary btn-lg" onclick="location.href={% url 'side-faq' %}">FAQ</li>

                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  <!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center "> 2023 </p>
  </footer>
</body>

</html>