{% extends "blog/base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Black currants harvest calendar</title>
  <meta name="description" content="Outlining the optimal harvesting periods in eastern Poland. Optimize your yield in our area">
{% endblock seo %}

{% block canonical_url %}
  <link rel="canonical" href="https://blackcurrant-wholesale.com{% url 'side-calendar' %}">
{% endblock canonical_url%}

{% block content %}
<br>
<legend class="border-bottom mb-4">Harvest calendar</legend>
    <h1>For 2023</h1>
    <div class="content-section">
        <div class="media">

            <img style="max-width:102%;" src="{% static 'harvest_calendar.webp' %}">

        </div>
    </div>
{% endblock content %}
