{% extends "base.html" %}
{% block content %}
{% load static %}

<header class="masthead">
  <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class=" site-heading my-4 mt-3 text-black" style="text-align:center"> Black currant wholesale market </h1>
<!--                <center><img style="max-width:50%;" src="{{ posts.author.profile.image.url }}"></center><br>-->
                <center><img src="{% static 'logo.webp' %}" width="289" height="187" alt="Fresh and tasty black currant"></center><br>
              <p class="text-dark" style="text-align:center"> We specialize in the cultivation of black currants </p>
            </div>
          </div>
        </div>
      </div>
</header>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->

    <div class="col-md-12 mt-3 left">

      {% for post in posts %}
      <div class="card mb-4">
        <div class="card-body">

            <h2><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.page_title }}</a></h2>

            <div class="article-metadata">
              <small class="button" style="color:#333333;">{{ post.date_posted|date:"d F Y" }}</small>
            </div>
            <br>
            <p class="card-text">{{post.content|slice:":200"|safe}}</p>
              {% if post.image %}
                  <img alt="Blog image" width="328" height="185" src="{{ post.image.url }}">
              {% endif %}

            <br><br>

            <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary" >Read More &rarr;</a>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<br>
<div class="container" align="middle">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">First</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-1' and num < page_obj.number|add:'1' %}
                <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}


    {% endif %}

</div>
{% endblock content %}

