{% extends "base.html" %}

{% block headcontent %}
  <!--  MAPBOX-->
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet'/>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
{% endblock %}

{% block content %}
    <div class="content-section"><br>
        <legend class="border-bottom mb-4">Our location</legend><br>
            <a id="directions" href="https://www.google.com/maps/dir//Braciejowice+54,+24-335+Braciejowice/@51.1791325,21.7991395,4958m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x472284be2a3eb5b1:0xa663fe0c10f8eea!2m2!1d21.8172209!2d51.1777283!3e0" target=”_blank”>
                <H5 style="display:inline">Poland, 24-335 Braciejowice 54</H5>
            </a>
                <small class="form-text text-muted" id="directionsHelp"> &nbsp; &uarr; Click for directions</small>
            <br>
            <div id='map' style="max-width:100%; height: 460px;">
                <script>
                    mapboxgl.accessToken = '{{ access_token }}';
                    const map = new mapboxgl.Map({
                        container: 'map', // container ID
                        style: 'mapbox://styles/mapbox/streets-v12', // style URL
                        center: [15.21, 51.27], // starting position [lng, lat]
                        pitch: 42, // pitch in degrees
                        bearing: 10,
                        zoom: 3.8, // starting zoom
                    });

                    // Create a new marker.
                    const marker = new mapboxgl.Marker({
                        color: "#FF4500",
                        })
                        .setLngLat([21.817139, 51.177750])
                        .addTo(map);
                </script>

            </div>
        <br><br><br><br><br>
    </div>
{% endblock content %}