{% extends "base.html" %}
{% block content %}
{% load static %}

<br>
<legend class="border-bottom mb-4">Pricing</legend>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Order</th>
      <th scope="col">Delivery</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">Frozen blackcurrant</th>
      <td>One year prior</td>
      <td>Truck, min order 10 tons</td>
      <td>$</td>
    </tr>
    <tr>
      <tr class="table-warning">
      <th scope="row">Freeze-dried blackcurrant</th>
      <td>Anytime</td>
      <td>Over 100 kg</td>
      <td>$</td>
    </tr>
    <tr class="table-info">
      <th scope="row">Frozen blackcurrant in bulk</th>
      <td>Two weeks prior</td>
      <td>Truck, ship, container, min order 1 ton</td>
      <td>$</td>
    </tr>
    <tr class="table-warning">
      <th scope="row">Freeze-dried blackcurrant</th>
      <td>Anytime</td>
      <td>Up to 100 kg</td>
      <td>$</td>
    </tr>

  </tbody>
</table>

{% endblock content %}