{% extends "base.html" %}
{% load static %}

<!-- SEO -->
{% block seo %}
  <title>Frozen black currants wholesale price</title>
  <meta name="description" content="Get competitive wholesale prices for frozen black currants, sourced from eastern Poland's prime cultivation region. Inquire now for unbeatable offers">
{% endblock seo %}

{% block canonical_url %}
  <link rel="canonical" href="https://blackcurrant-wholesale.com{% url 'blog-pricing' %}">
{% endblock canonical_url%}

{% block content %}

<br>
<legend class="border-bottom mb-4">Pricing</legend>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Order</th>
      <th scope="col">Delivery</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">Frozen IQF blackcurrant bulk<br>1st class</th>
      <td>min. 1T</td>
      <td>Truck</td>
      <td>€ 1500/T</td>

    </tr>
    <tr>
      <tr class="table-warning">
      <th scope="row">Freeze-dried blackcurrant</th>
      <td>min. 0.1T</td>
      <td>Truck, air</td>
      <td>€ ...</td>
    </tr>
    <tr class="table-info">
      <th scope="row">Frozen IQF blackcurrant bulk<br>2nd class</th>
      <td>min. 1T</td>
      <td>Truck</td>
      <td>€ 1400/T</td>
    </tr>

  </tbody>
</table>

{% endblock content %}