{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Contact us</legend>

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <label class="col-form-label mt-4">Name</label>
                        {{ form.name }}

                    <label class="form-label mt-4">Email address *</label>
                        {{ form.email }}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <br>

                    <label class="form-label mt-4">Inquiry *</label>
                        {{ form.inquiry }}
                </div>
                <p>* Required</p>


<!--                <script>-->
<!--                    function validateEmail(email) {-->
<!--                        var email = document.getElementById('email').value;-->
<!--                        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;-->
<!--                        if(re.test(String(email).toLowerCase())==true){-->
<!--                            document.getElementById("email").style.backgroundColor = "#cff5d1";-->
<!--                            document.getElementById("email").className = "";-->
<!--                            return true;-->
<!--                        }else{-->
<!--                            document.getElementById("email").style.backgroundColor = "#ffdddd";-->
<!--                            document.getElementById("email").className = "invalid";-->
<!--                            return false;-->
<!--                        }-->
<!--                    }-->
<!--                </script>-->



<!--    <div class="g-recaptcha" data-sitekey="<KEY>"></div>-->
<!--    <script>-->
<!--        grecaptcha.ready(function() {-->
<!--            grecaptcha.execute('<KEY>', {action: 'contact'})-->
<!--            .then(function(token) {-->
<!--                ginput = document.createElement('input');-->
<!--                ginput.type = "hidden";-->
<!--                ginput.name = "g-recaptcha-response";-->
<!--                ginput.value = token;-->
<!--                document.getElementById("cform").appendChild(ginput);-->
<!--            });-->
<!--        });-->
<!--    </script>-->

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-lg" type="submit" style="float: right;">Send</button>
            </div>
        </form>
        <br><br>


            <legend class="border-bottom mb-4">Where are we located?</legend>
            <a id="directions" href="https://www.google.com/maps/dir//Braciejowice+54,+24-335+Braciejowice/@51.1791325,21.7991395,4958m/data=!3m1!1e3!4m9!4m8!1m0!1m5!1m1!1s0x472284be2a3eb5b1:0xa663fe0c10f8eea!2m2!1d21.8172209!2d51.1777283!3e0" target=”_blank”>
                <H5 style="display:inline">Poland, 24-335 Braciejowice 54</H5>
            </a>
                <small class="form-text text-muted" id="directionsHelp"> &nbsp; &larr; Click for directions</small>

            <div id='map' style="max-width:100%; height: 460px;">
                <script>
                    mapboxgl.accessToken = '{{ access_token }}';
                    const map = new mapboxgl.Map({
                        container: 'map', // container ID
                        style: 'mapbox://styles/mapbox/streets-v12', // style URL
                        center: [15.21, 51.27], // starting position [lng, lat]
                        pitch: 42, // pitch in degrees
                        bearing: 10,
                        zoom: 3.8, // starting zoom
                    });

                    // Create a new marker.
                    const marker = new mapboxgl.Marker({
                        color: "#FF4500",
                        })
                        .setLngLat([21.817139, 51.177750])
                        .addTo(map);
                </script>
            </div>

    </div>
{% endblock content %}