{% extends "base.html" %}

<!-- SEO -->
{% block seo %}
  <title>Contact Us for frozen blackcurrant</title>
  <meta name="description" content="Interested in frozen blackcurrant wholesale? Contact us now for premium-quality frozen blackcurrants sourced from our eastern Poland farms. Inquire today">
{% endblock seo %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <br>
            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Contact us via e-mail</legend>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                    <label class="col-form-label mt-4">Name</label>
                        {{ form.name }}

                    <label class="form-label mt-4">Email address *</label>
                        {{ form.email }}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <br>

                    <label class="form-label mt-4">Inquiry *</label>
                        {{ form.inquiry }}
                </div>
                <p>* Required</p>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-lg" type="submit" style="float: right;">Send</button>
            </div>
        </form>

        <br><br><br>
        <legend class="border-bottom mb-4">Phone numbers</legend>
            <div class="form-group">
                <a href="tel:+48606271169"><button class="btn btn-outline-primary btn-lg" type="submit" style="float: right;">Call Robert +48 606 271 169</button></a>
            </div>
            <div class="form-group">
                <a href="tel:+48726216822"><button class="btn btn-outline-primary btn-lg" type="submit" style="float: left;">Call Krzysiek +48 726 216 822</button></a>
            </div>
        <br><br><br><br><br>
    </div>
{% endblock content %}