{% block sidebar %}

<!-- Sidebar Widgets Column -->
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
    <main role="main" class="container">



          {% block content %}{% endblock %}

        <div class="col-md-4 float-right ">
          <div class="card my-4">
            <div class="content-section">
              <h4 class="card-header">Additional information</h4>
              <div class="card-body">
                <p class='text-muted'>
                  <ul class="list-group">

                    <li type="button" class="btn btn-dark btn-lg">Announcements</li>
                    <li type="button" class="btn btn-dark btn-lg">Harvest calendar</li>
                    <li type="button" class="btn btn-dark btn-lg">Delivery terms</li>
                    <li type="button" class="btn btn-dark btn-lg">FAQ</li>

                  </ul>

              </div>

            </div>
          </div>
        </div>

    </main>


{% endblock sidebar %}