<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <title>My Blog App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap cdn -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"> -->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css">-->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog-home' %}">Solbær</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="{% url 'blog-home' %}">Home</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="{% url 'blog-about' %}">About</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="{% url 'form-contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">


          {% block content %}
          <!-- Content Goes here -->
          {% endblock content %}
        </div>

        <div class="col-md-4 float-right ">
          <div class="card my-4">
            <div class="content-section">
              <h4 class="card-header">Additional information</h4>
              <div class="card-body">
                <p class='text-muted'>
                  <ul class="list-group">

                    <li type="button" class="btn btn-dark btn-lg">Announcements</li>
                    <li type="button" class="btn btn-dark btn-lg">Harvest calendar</li>
                    <li type="button" class="btn btn-dark btn-lg">Delivery terms</li>
                    <li type="button" class="btn btn-dark btn-lg">FAQ</li>

                  </ul>

              </div>

            </div>
          </div>
        </div>

      </div>
    </main>

  <!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center "> 2022 </p>
  </footer>
</body>

</html>