{% extends "base.html" %}
{% block content %}

<header class="masthead">
  <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h3 class=" site-heading my-4 mt-3 text-black" style="text-align:center"> Welcome to the black currant wholesale 🫐️ </h3>
                <a href=https://www.pngmart.com/image/223798 style="text-align:center">Black Currant Berries Leaves PNG</a>
              <p class="text-dark" style="text-align:center"> ✨ We specialize in the cultivation of black currants ✨ </p>
            </div>
          </div>
        </div>
      </div>
</header>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->

    <div class="col-md-12 mt-3 left">


      {% for post in posts %}
      <div class="card mb-4">
        <div class="card-body">


            <h2><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
            <div class="article-metadata">
              <small class="button" style="color:#333333;">{{ post.date_posted|date:"d F Y" }}</small>
            </div>

            <p class="card-text">{{post.content|slice:":200"}}</p>
              {% if post.image %}
                  <img width=450 style="max-width:20%;" src="{{ post.image.url }}">
              {% endif %}

            <br><br>

            <a href="{% url 'post-detail' post.slug  %}" class="btn btn-primary" style="color:orange;">Read More &rarr;</a>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}