{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
          <small class="button" style="color:#333333;">{{ object.date_posted|date:"d F Y" }}</small>
            <br><br>
              <p class="lead">{{ object.content | safe }}</p>
                {% if post.image %}
                    <img style="max-width:100%;" src="{{ post.image.url }}">
                {% endif %}
            <br><br>
              <a href="{{ base_url }}" class="btn btn-primary" >&larr;  Back</a>
        </div>
      </div>

  </div>
</div>

{% endblock content %}
