{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">

          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Additional information</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Delivery terms</li>
                <li class="list-group-item list-group-item-light">Harvest calendar</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


{% endblock sidebar %}